img{
    width: 200px;
    height: 320px;
    border: 5px solid black;
}

h4{
    font-weight: lighter;
}

h5{
    font-weight: bold;
}

li{
    text-align: center;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:black;
}

.btn:hover{
    text-decoration: none;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 20px;
}

tr{
    text-align: center;
    height: 20px;
}
